@model TakenplannerWeb.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Chores Overview</h2>

@if (Model.expiredChores.Count() > 1)
{
    <p style="color: red">There are @Model.expiredChores.Count() expired chores!</p>
}
@if (Model.expiredChores.Count() > 0 && Model.expiredChores.Count() < 2)
{
    <p style="color: red">There is @Model.expiredChores.Count() expired chore!</p>
}
@if (Model.almostExpiredChores.Count() > 0 && Model.almostExpiredChores.Count() < 2)
{
    <p style="color: red">@Model.almostExpiredChores.Count() chore is almost expired!</p>
}
@if (Model.almostExpiredChores.Count() > 1)
{
    <p style="color: red">@Model.almostExpiredChores.Count() chores are almost expired!</p>
}

<p>
    @Html.ActionLink("Add New Chore", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <div>Backlog</div>
        </th>
        <th>
            <div>To Do</div>
        </th>
        <th>
            <div>Doing</div>
        </th>
        <th>
            <div>Done</div>
        </th>
    </tr>
    <tr>
        <td>
            <table class="table chore">
                @foreach (var item in Model.backlogChores)
                {
                    @Html.Partial("_Chore", item)
                }
            </table>
        </td>
        <td>
            <table class="table chore">
                @foreach (var item in Model.todoChores)
                {
                    @Html.Partial("_Chore", item)
                }
            </table>
        </td>
        <td>
            <table class="table chore">
                @foreach (var item in Model.doingChores)
                {
                    @Html.Partial("_Chore", item)
                }
            </table>
        </td>
        <td>
            <table class="table chore">
                @foreach (var item in Model.doneChores)
                {
                    @Html.Partial("_Chore", item)
                }
            </table>
        </td>
    </tr>

</table>